body {
  font-family: arial;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div {
  display: block;
  float: left;
  width: 100%; }

section {
  display: block;
  float: left;
  width: 100%; }

header {
  background-color: #222;
  color: white;
  display: block;
  float: left;
  padding: 20px 0;
  width: 100%; }
  header .headerTitle {
    display: block;
    float: left;
    margin: 20px; }
  header .logoReact {
    display: block;
    float: left;
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.todoApp {
  border: black;
  border-style: solid;
  border-width: 0.1px; }
  .todoApp .todoActions {
    border: black;
    background: #1A5276;
    color: white;
    border-style: solid;
    border-width: 0.1px; }
    .todoApp .todoActions div {
      width: 50%; }
    .todoApp .todoActions h2 {
      border: black;
      border-style: solid;
      border-width: 0.1px;
      padding: 10px; }
    .todoApp .todoActions span {
      display: block;
      float: left;
      margin: 10px; }
      .todoApp .todoActions span h4 {
        margin-bottom: 10px; }
    .todoApp .todoActions button {
      margin: 10px;
      float: left;
      font-size: 15px; }
  .todoApp .todoList {
    width: 98%;
    padding: 1%;
    background: #1A5276; }
    .todoApp .todoList .todoTask {
      background: white;
      width: 200px;
      height: 200px;
      display: block;
      float: left;
      margin: 10px;
      padding: 10px 5px;
      border: black;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px; }
      .todoApp .todoList .todoTask .todoUser {
        text-align: center;
        font-size: 25px;
        width: 100%; }
      .todoApp .todoList .todoTask .todoTitle {
        margin: 5px;
        height: 70%; }
      .todoApp .todoList .todoTask span {
        display: block;
        float: left; }
      .todoApp .todoList .todoTask button {
        margin: 0 25%; }
