@import "reset";

//Defaults
div{
  display: block;
  float: left;
  width: 100%;
}

section{
  display: block;
  float: left;
  width: 100%;
}

//HEADER


header {
  background-color: #222;
  color: white;
  display: block;
  float: left;
  padding: 20px 0;
  width: 100%;
  
  .headerTitle{
    display: block;
    float: left;
    margin: 20px;
  }
  
  .logoReact {
    display: block;
    float: left;
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}


//APP

.todoApp {
  border: black;
  border-style: solid;
  border-width: 0.1px;
  .todoActions{
    border: black;
    background: #1A5276;
    color: white;
    border-style: solid;
    border-width: 0.1px;

    div{
      width: 50%;
    }
    
    h2{
      border: black;
      border-style: solid;
      border-width: 0.1px;
      padding: 10px;
    }
  
    span{
      display: block;
      float: left;
      margin: 10px;

      h4{
        margin-bottom: 10px;
      }
    }

    button{
      margin: 10px;
      float: left;
      font-size: 15px;
    }
    
  }//End todoActions

  .todoList{
    width: 98%;
    padding: 1%;
    background: #1A5276;

    .todoTask{
      background: white;
      width: 200px;
      height: 200px;
      display: block;
      float: left;
      margin: 10px;
      padding: 10px 5px;
      border: black;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;

      .todoUser{
        text-align: center;
        font-size: 25px;
        width: 100%;
      }

      .todoTitle{
        margin: 5px;
        height: 70%;
      }

      span{
        display: block;
        float: left;
      }

      button{
        margin: 0 25%;
      }
    }
  } //END todoLIst
}


